/* Generelt */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    font-size: 14px;
}

h1, h2 {
    text-align: center;
    color: #E16A03;
}

/* Søkeform */
form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

input[type="text"] {
    padding: 8px;
    font-size: 16px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #E16A03;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #cc5903;
}

/* Tabell-layout */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: normal;
    word-wrap: break-word;
    vertical-align: top;
}

th {
    background-color: #E16A03;
    color: white;
}

/* Gruppeoverskrift */
.gruppe-header {
    background-color: #f3f3f3;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #ddd;
}

/* Feilmelding */
.no-results {
    text-align: center;
    font-size: 16px;
    color: #555;
}

/* Informasjonstekst */
.info-tekst {
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
    text-align: center;
}

/* Klikkbare elementer */
.klikkbart {
    cursor: pointer; /* Beholder klikkbarhet */
    color: inherit; /* Bruker standard tekstfarge */
    text-decoration: none; /* Ingen understrekning */
    font-weight: normal; /* Valgfri: kan bruke bold hvis ønsket */
}

.klikkbart:hover {
    color: #E16A03; /* Valgfri hover-effekt */
    text-decoration: none; /* Ingen understrekning ved hover */
}


/* Feedback-knapp */
.feedback-knapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #E16A03;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.feedback-knapp:hover {
    background-color: #b45602;
    text-decoration: none;
}

/* Mobilvennlighet */
@media (max-width: 768px) {
    body {
        margin: 10px;
        font-size: 13px;
    }

    h1, h2 {
        font-size: 18px;
    }

    form {
        flex-direction: column;
        gap: 5px;
    }

    input[type="text"], button {
        width: 100%;
    }

    table {
        font-size: 12px;
        overflow-x: auto;
    }
}
